.header {
  height: calc(50vh - 50px);
  padding: 30px 40px; /* top and bottom paddings are 30px - right and left paddings are 50px */
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 23px;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.site-name {
  border: 5px double green;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px 0 50px;
}

