body {
  background-color: white;
  border-radius: 0 0 30px 30px;
}

.header {
  height: calc(50vh - 50px);
  padding: 30px 40px; /* top and bottom paddings are 30px - right and left paddings are 50px */
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-slogen {
  padding: 30px;
  width: 420px;
  text-align: justify;
}

h2 {
  font-size: 23px;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.site-name {
  border: 5px double green;
  border-radius: 5px;
  padding: 10px;
}