<div *ngFor="let p of products; let i=index">
    <div class="product-container">
		<p class="index">{{i+1}}</p>
      	<div class="image-container">
        	<img [src]="p.image" width="200" height="200" alt="{{p.name}}">
      	</div>
      	<div>
        	<div class="name-container">
          		<h4 [ngStyle]="{ color: p.price > 100 ? 'green' : 'black' }">{{p.name}}</h4>
				<h5>{{p.code}}</h5>
        	</div>
			<div class="detailContainer">
				<div class="details"><b>מחיר:</b> {{p.price}}₪</div>
				<div class="details"><b>צבע:</b> {{p.color}}</div>
			</div>
      	</div>
      	<div class="options">
			<button class="btn2" [ngStyle]="{ backgroundColor: p.price > 100 ? 'green' : '#B278E9' }">קנה אותי</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn2" (click)="p.price = getPriceAfterDiscount(p.price)" *ngIf="p.price > 100">הנחה</button>
      	</div>
    </div>
</div>
